{{ define "optin" }}
{{ template "header" .}}
<section>
    <h2>{{ L.T "public.confirmSubTitle" }}</h2>
    <p>
        You have been added to the AI2 Incubator Insights newsletter. Please confirm
        by clicking the below button.
    </p>

    <form method="post">
        <p>
            <input type="hidden" name="confirm" value="true" />
            <button type="submit" class="button" id="btn-unsub">
                {{ L.Ts "public.confirmSub" }}
            </button>
        </p>
    </form>
</section>

{{ end }}